.succes-sign-up {
  position: relative;
  display: flex;
  padding: 100px 0 5% 0;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fff3e2;
  width: 100vw;
  height: 90vh;
  overflow: hidden;

  h1 {
    z-index: 1;
    @include headerText(#ff8000, 7vw);
    font-weight: bolder;
  }

  p {
    z-index: 1;
    @include paragraph(#ff8000, 15pt);
    padding: 0;
    margin: 10px;
  }
  #secondBox {
    z-index: 3;
  }
  #knap {
    padding-top: 50px;
    z-index: 2;
  }

   a {
     z-index: 1;
    text-decoration: none;

    p {
      @include headerText(white, 20pt);
      width: 100%;
      margin: 0;
      padding: 3% 10% 5% 10%;
      background-color: #ff8800;
      border-radius: 20px;

      b {
        font-family: $logo-font-family;
      }
      box-shadow: 0px 0px 80px 50px #ffffff;

      &:hover{
        background-color: #ffa43e;
      }
    }
  }

  #slot {
    position: absolute;
    width: 1000px;
    z-index: 0;
    bottom: 0px;
    //left: -30%;
  }
}
