
.content-sub-title.config-sub-title{
  display: none;
}
#rp-card-button{
  color: white;
  border-radius: 200%;
  display: none;
}


.tilmeldContainer {
  position: relative;
  padding: $header-height 5% 0 5%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  height: calc( 100vw - $header-height);


  .payments-inner{
    position: relative;
  }
  .error {
    color: red;
    height: 20px;
    width: max-content;
    &.hidden{
      display: none;
    }
  }

  .infobox{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    //margin: 5%;
    color: blue;
    width: 30vw;
    //min-width: 350px;
    height: 60vh;
  }

  .divider {
    display: flex;
    margin: 10% auto;
    width: 70%;
    height: 1px;
    border-top: 1px solid rgba(3, 104, 255, 0.65);

  }
  .bruger-input-container {
    position: relative;
    width: max-content;
    min-width: 405px;
    padding: 0 5% 5% 5%;
    height: max-content;
    border-radius: 10px;
    background-color: white;
    -webkit-box-shadow: -8px 22px 51px -23px rgba(0,0,0,0.28);
    -moz-box-shadow: -8px 22px 51px -23px rgba(0,0,0,0.28);
    box-shadow: -8px 22px 51px -23px rgba(0,0,0,0.28);

    input{
      padding-left: 5%;
    }
    #steps{
      position: relative;
      width: 100%;
      text-align: center;
      transform: translateX(-10px);
      padding: 8% 0 3% 0;
      ul{

         li{
           list-style: none;
           display: inline-block;
           padding: 0 10px;
           input{
             border: none;
             background:none;
             color: $blue-main;
             font-size: large;
             &:disabled{
               color: lightblue;
             }
           }
        }
      }
    }

    form {
      position: relative;
      padding: 3%;
      margin: 0 auto;
      width: 300px;
      //border: 1px solid $blue-main;
      min-height: 300px;
      .inputBox {
        position: relative;
      }
      .danger {
        transform: translateY(-1px);
        border: 2px solid red;
      }

      .succes {
        transform: translateY(-1px);
        border: 2px solid #36EC90;
      }

      .navne_container {
        //display: inline-flex;
        //height: 100px;
        padding-bottom: 2%;
      }

      .validator_ikon{
        position: absolute;
        //padding: 10%;
        //top: 50%;
        right: 0px;
        top: 0px  ;
        //left: 50%;
        //padding: 0 0 0 5px;
        width: 25px;

      }

      #havfrueKrabbe{
        position: absolute;
        left: -90%;
        bottom: -10%;
        width: 350px;
      }

      #lochness{
        position: absolute;
        left: -140%;
        bottom: -50%;
        width: 650px;
      }

      label {
        display: flex;
        flex: auto;
        padding-bottom: 0.2%;
        color: $blue-main;
        width: 100%;
        &.required {
          &::before {
            content: "*";
            color: rgb(255, 102, 0);
          }
        }
      }



      #submitBtn {
        position: relative;
        margin-top: 5%;
        bottom: 0px;
        width: 300px;
        z-index: 5;
        background-color: $orange-main;
        border: 1px solid #e4722c;
        font-weight: bold;

        &:enabled {
          background-color: $main-font;
          border: 2px solid $orange-main;
          transform: scale(1.05);
          color: orange;
          box-shadow: #001528;
          &:hover {
            background-color: $orange-darker;
            color: white;
          }
        }
        &:disabled {
          background-color: white;
          border: .5px solid grey;
          font-weight: lighter;
        }

      }

      input {
        margin-bottom: 10px;
        width: 100%;
        height: 30px;
        border: 1px solid $blue-main;
        border-radius: 10px;

        &:hover {
          background-color: rgb(212, 241, 255);
        }
      }
    }
  }
  .betalingsform {

    input{
      padding-left: 5%;
    }
    #rp_container {
      width: 100%;
      height: 500px;
    }
    .payments_container {
      width: 100%;
      #kortnummer_container{
        position: relative;
        width: 100%;

        #cardNumber {
          position: relative;
          width: 93%;

        }
        #kort{
          position: absolute;
          right: 3%;
          top: 27px;
          svg {
            width: 30px;
            height: auto;
          }
        }
      }

      #udloeb_cvc_container {
        padding-top: 10px;
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;

        #expiryDate {
          width: 80%;
          margin: 0 auto;
          //padding-left: 15%;
        }

        #cvc {
          width: 90%;
          margin: 0 auto;
        }


      }
    }

    .bottom_container {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      input{
        padding-left: 5%;
      }

      .kuponkode_container {
        font-size: smaller;
        display: inline-flex;
        justify-content: space-around;

        #kuponKnap {
          margin-top: 25%;

        }
        #kuponkode {
            width: calc(max-content + 10px);
          }


      }

    }
    .abonnementvilkaar {
      display: flex;
      flex-direction: row;
      padding-bottom: 10px;
      label {
        display: inline-block;
      }
      input {
        display: inline;
        width: 40px;
      }
    }
  }

  #fiskestime{
    position: absolute;
    right: 20%;
    bottom: -10%;
    z-index: -1;

  }
}

.succes-sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 5%;
  width: 500px;
  h1 {
    @include headerText($blue-main, 4vw);
    font-weight: bolder;
  }
  p {
    @include paragraph($blue-main, 2vw);
  }
  a {
    text-decoration: none;
    p {
      @include headerText(white, 2.5vw);
      width: 100%;
      margin: 0;
      padding: 3% 10% 5% 10%;
      background-color: #ffcb44;
      border-radius: 20px;
      b {
        font-family: $logo-font-family;
      }
    }
  }
}
@media screen and (max-width: 1100px) {
  .tilmeldContainer {
    margin-top: 10%;
  }
}
