.TeamMember {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;

  .imgContainer {
    display: flex;
    width: 20vw;
    height: 20vw;
    border: solid $orange-main 2px;
    border-radius: 50%;
    overflow: hidden;
    justify-content: center;
    img {
      align-items: center;
      width: auto;
      height: auto;
    }
  }
}
