@import ".././Shared_Style_Components/Mixins";

.header {
  background: transparent;
  width: 100%;
  height: $header-height;
  min-height: 70px;
  position: fixed;
  top: 0px;
  z-index: 10;
  transition: all 0.3s linear;
  background-color: white;
  a {
    text-decoration: none;
  }


  .headerButtonsContainer {
    position: relative;
    display: flex;
    // margin: 0 auto;
    align-items: center;
    justify-self: flex-end;
    width: 100vw;
    flex-wrap: nowrap;
    height: 100%;

    .tilbage {
      position: absolute;
      width: 150px;
      left: 100px;

      #tilbageKnap {
        color: $blue-main;
        width: 100px;
        background-color: transparent;
        border: none;
        font-size: larger;
        cursor: pointer;
      }

      #tilbagePil {
        position: relative;
        left: -50px;
        top: -11px;
        width: 50px;
        height: 0px;
        border-bottom: 1px solid $blue-main;

        &:before {
          content: '';
          position: absolute;
          top: -7.5px;
          left: 2px;
          width: 15px;
          height: 15px;
          border-bottom: 1px solid $blue-main;
          border-left: 1px solid $blue-main;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }

    }

    .logo {
      width: min-content;
      margin: 0 auto;
      h1 {
        display: flex;
        justify-self: end;
        color: $blue-main;
        font-family: "Pacifico", cursive;
        //margin: -5px 5% 0 10%;
      }
    }
  }
}
.logind_header{
  position: absolute;
  right: 10px;
}
.logind {
  width: max-content;
  border: 1px solid $blue-main;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  height: 20px;
  a {
    color: $blue-main;
    text-decoration: none;
  }
  &:hover {
    background-color: #d4f1ff;

  }
}
