//@import url("https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap");

$main-font: #fffbe8;
$blue-main: rgb(3, 104, 255);
$blue-second: #1f7ed6;
$blue-thrid: #0081a9;
$blue-water: #0399c7;
$blue-light: #80c0d4;
$cream-light: #fffbe8;
$cream-dark: #f3ebde;
$orange-main: #ffbb0d;
$orange-darker: #ffc32b;
$error-main: #f10048;
$error-second: #f3d6df;

$header-font-family: "Pathway Gothic One", sans-serif;
$paragraph-font-familiy: "PT Sans Narrow";
$italic-font: "Montserrat", sans-serif;
$logo-font-family: "Pacifico", cursive;
$header-height: 10%;
