@import url('https://fonts.googleapis.com/css2?family=Belleza&Modak&family=PT+Sans+Narrow:wght@400;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.mockup {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><line x1='0' y1='0' x2='100' y2='100' stroke='black' vector-effect='non-scaling-stroke'/><line x1='0' y1='100' x2='100' y2='0' stroke='black' vector-effect='non-scaling-stroke'/></svg>");
    background-color: rgba(232, 232, 232, 0.84);
    border: 1px solid black;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%, auto;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-blaa);
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    min-width:300px;
    overflow-x: hidden;
    overflow-y: auto;
    --main-bg-blaa: #0060df;
    --secondary-bg-blaa: #0c94bf;
    --main-bg-hvid: #fdf8ec;
    --main-bg-hvid_transparent: rgba(253, 248, 236, 0.45);
    --soft-box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    --hard-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

h1, h2 {
    font-family: "Belleza", sans-serif;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a, a:visited {
    color: inherit;
    text-decoration-line: underline;
    cursor: pointer;
}
a:active, a:hover {
    text-decoration-line: underline;
}

.wp-block-image, .aligncenter, .alignright, .alignleft .size-large {
    padding: 0;
    margin: 0;
}


.parallax > * {
    animation: parallax linear;
    animation-timeline: scroll();
}

@keyframes parallax {
    to {
        transform: translateY(calc(var(--animation-speed) * 200px));
    }
}

@media only screen and (max-width: 600px) {

    img {
        max-width: 600px;

    }
}

.shadow {
    box-shadow: 10px 10px 33px 0px rgba(222,39,148,0.19);
    -webkit-box-shadow: 10px 10px 33px 0px rgba(222,39,148,0.19);
    -moz-box-shadow: 10px 10px 33px 0px rgba(222,39,148,0.19);
}