.mockup {
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><line x1='0' y1='0' x2='100' y2='100' stroke='black' vector-effect='non-scaling-stroke'/><line x1='0' y1='100' x2='100' y2='0' stroke='black' vector-effect='non-scaling-stroke'/></svg>");
    background-color: rgba(232, 232, 232, 0.84);
    border: 1px solid black;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%, auto;
}

html, body {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}