.audioPlayer {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: red;
}
/*.audioLogic {
    .audioButtons {
      .volume-hover-container {
        .volume-hover {
        }
      }
    }
  }
  .timeBar {
    .currentTime {
      .TotalTime {
      }
    }
  }
}*/
