.frontpage {
  display: flex;
  flex-direction: column;
  justify-items: center;

  background-image: url("../../background.png");
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 1000px;

  /*.frontpageTopImg {
    position: absolute;
    z-index: 0;
  } */
  h1 {
    z-index: 5;
  }
  h2 {
    z-index: 5;
  }
}
