@import "../../Shared/Shared_Style_Components/Variables";

.frontpage {
  display: flex;
  flex-direction: column;
  justify-items: center;

  background-image: url("../../background.png");
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 1000px;

  .FreeTrailButton {
    width: 45%;
    height: 15%;
    background-color: #fffbe8;
    border-radius: 10px;
    border: hidden;
    color: #ffbb0d;
  }

  #contentContainer {
    margin-left: 70%;
    margin-top: 20%;
    width: 30%;
    h1 {
      font-family: $header-font-family;
      color: #ffff;
      z-index: 5;
    }
    h2 {
      font-family: $header-font-family;
      color: #ffff;
      z-index: 5;
    }
  }
}
