@import "./TeamMember";

#aboutPage {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;

  #topRightCloud {
    position: absolute;
    transform: translate(104%, 2%);
    width: 53%;
    z-index: 0;
  }
  #bottonLeftCloud {
    position: absolute;
    transform: translate(-16%, 60%) rotate(-5deg);
    width: 43%;
    z-index: 0;
  }
  #bottonRightCloud {
    position: absolute;
    bottom: -13px;
    right: -120px;
    width: 50%;
    z-index: 0;
  }

  #stime {
    position: absolute;
    transform: translate(530%, 440%);
    width: 15%;
    z-index: 0;
    overflow: hidden;
  }

  #container1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #fffbe8;
    padding-bottom: 3%;
    padding-top: $header-height;

    h1 {
      z-index: 1;
      margin-bottom: 3%;
      align-self: center;
      width: 65%;
      text-align: center;
      @include headerText($blue-main, 2vw);
      font-family: $logo-font-family;
    }

    p {
      justify-self: center;
      align-self: center;
      z-index: 1;
      //align-items: flex-start;
      @include paragraph($blue-main, 1.5vw);
      width: 40%;
    }
  }
  #container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: $blue-thrid;

    h1 {
      margin: 0;
      margin-top: 2%;
      padding: 0;
      z-index: 1;
      @include headerText($orange-main, 2.5vw);
      font-family: $logo-font-family;
      text-align: center;
    }

    ul {
      width: 60%;
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: $blue-thrid;
      margin-bottom: 1%;

      h2 {
        z-index: 1;
        @include paragraph($orange-main, 2vw);
        width: 150%;
        text-align: center;
        font-weight: bolder;
      }
      h3 {
        z-index: 1;
        @include headerText($orange-main, 1.2vw);
        font-family: $paragraph-font-familiy;
        width: 150%;
        text-align: center;
      }

      p {
        z-index: 1;
        @include paragraph($orange-main, 1.2vw);
        font-family: $paragraph-font-familiy;
        width: 135%;
      }
    }
  }

  #container3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: #f3ebde;

    h1 {
      margin: 0;
      margin-top: 2%;
      padding: 0;
      z-index: 1;
      @include headerText($blue-main, 2.5vw);
      font-family: $logo-font-family;
      text-align: center;
    }

    ul {
      width: 60%;
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: #f3ebde;
      margin-bottom: 5%;

      h2 {
        z-index: 1;
        @include headerText($blue-main, 2vw);
        width: 150%;
        text-align: center;
        font-weight: bolder;
      }
      h3 {
        z-index: 1;
        @include headerText($blue-main, 1.2vw);
        font-family: $paragraph-font-familiy;
        text-align: center;
      }
      p {
        z-index: 1;
        @include paragraph($blue-main, 1.2vw);
        font-family: $paragraph-font-familiy;
        width: 135%;
        margin: 7%;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  #aboutPage {
    padding-top: 10%;
    #bottonLeftCloud {
      transform: translate(-16%, 160%)
    }
    #bottonRightCloud {
      bottom: -5px;
      right: -60px;

    }
    #stime {
      transform: translate(530%, 740%);
    }
    #container1 {
      h1{
        width: 80%;
        font-size: .8rem;
      }
      p {
        font-size: .7rem;
        width: 65%;
      }
    }
    #container2 {
      h1 {
        font-size: 1rem;
      }
      ul {
        h2 {
          font-size: .7rem;
        }
        h3{
          width: 150%;
          font-size: .6rem;
        }
      }
    }
    #container3 {
      h1 {
        font-size: 1rem;
      }
      ul {
        h2 {
          font-size: .7rem;
        }
        h3{
          width: 150%;
          font-size: .6rem;
        }
      }
    }
  }
}
