@import ".././Shared_Style_Components/Mixins";

.header {
  background: transparent;
  width: 100%;
  display: flex;
  flex-direction: row;
  //justify-content: space-between;
  position: absolute;

  a {
    text-decoration: none;
  }

  h1 {
    margin-left: 10%;
    display: flex;
    justify-self: start;
    color: #ffff;
    font-family: "Pacifico", cursive;
  }

  .headerButtonsContainer {
    display: flex;
    align-items: center;
    margin-left: 30%;
    justify-self: flex-end;
    justify-content: space-between;
    width: 50%;

    .headerButton {
      @include headerButtons($main-font);
      margin: 5%;
    }

    #logInButton {
      @include headerButtons($main-font);
      justify-content: center;
      border-radius: 10%;
      border: 1px solid;
    }
  }
}

.header.blue {
  background: white;
  position: relative;
  border-bottom: 1px solid $blue-main;
  h1 {
    color: $blue-main;
  }

  .headerButtonsContainer {
    .headerButton {
      @include headerButtons($blue-main);
    }

    #logInButton {
      @include headerButtons($blue-main);
    }
  }
}
