@import ".././Shared_Style_Components/Mixins";

.header {
  background: transparent;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;

  a{
    text-decoration: none;
  }

  h1 {
    margin-left: 5%;
    display: flex;
    justify-self: start;
    color: #ffff;
    font-family: "Pacifico", cursive;
  }

  

  .headerButtonsContainer {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 5%;
    
    .headerButton {
      @include headerButtons($main-font);
    }

    #logInButton {
      @include headerButtons($main-font);
      justify-content: center;
      border-radius: 10%;
      border: 1px solid;
    }
  }
}


.header.blue {
  background: white;
  position: relative;
  h1 {

    color: $blue-main;

  }

  

  .headerButtonsContainer {

    .headerButton {
      @include headerButtons($blue-main);
    }

    #logInButton {
      @include headerButtons($blue-main);
  
    }
  }
}

