@import ".././Shared_Style_Components/Mixins";

.header {
  background: transparent;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;

  h1 {
    margin-left: 5%;
    display: flex;
    justify-self: start;
    color: #ffff;
    font-family: "Pacifico", cursive;
  }

  .headerButtonsContainer {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 5%;
    
    .headerButton {
      @include headerButtons;
    }

    #logInButton {
      @include headerButtons;
      justify-content: center;
      border-radius: 10%;
      border: 1px solid;
    }
  }
}
