@import "Variables";

@mixin headerButtons($color) {
  display: flex;
  background: transparent;
  border: transparent;
  font-family: $header-font-family;
  font-size: 2.3vw;
  color: $color;
  width: auto; // <-- denne property giver potentielt problemer for knapper, da den kan resize sig selv. Erstat evt. med pixels :)
  height: 3vw;


  &:hover {
    border-bottom: 1px solid;
  }
}

@mixin headerText($textColor, $fontSize) {
  font-family: $header-font-family;
  color: $textColor;
  font-size: $fontSize;
}

@mixin paragraph($textColor, $fontSize) {
  font-family: $header-font-family;
  color: $textColor;
  font-size: $fontSize;
}
