//@import url("https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap");

$main-font: #fffbe8;
$blue-main: #0368FF;
$blue-second: #1F7ED6;
$blue-thrid: #0081A9;
$cream-light: #FFFBE8;
$cream-dark: #F3EBDE;
$orange-main: #FFBB0D;

$header-font-family: "Pathway Gothic One", sans-serif;
$paragraph-font-familiy: "PT Sans Narrow"
