//@import url("https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap");

$main-font: #fffbe8;
$blue-main: #0368ff;
$blue-second: #1f7ed6;
$blue-thrid: #0081a9;
$cream-light: #fffbe8;
$cream-dark: #f3ebde;
$orange-main: #ffbb0d;
$error-main: #f10048;
$error-second: #f3d6df;

$header-font-family: "Pathway Gothic One", sans-serif;
$paragraph-font-familiy: "PT Sans Narrow";
$logo-font-family: "Pacifico", cursive; ;
$header-height: 10%;